<section class="hero is-medium is-bold" style="background-color: #CAE5CD;">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="is-flex-tablet justify-content-center align-items-center">
        <ul>
          <li>
            <h1 class="m-3 add-font-bold is-size-2">
              エンジニアのためのコアな<br>学習サイト
            </h1>
          </li>
          <li>
            <% unless user_signed_in? %>
              <a class="button is-info has-text-weight-bold w-50 is-medium mt-4 text-decoration-none" href="users/sign_up">ユーザー登録
            <% end %>
            </a>
          </li>
          <li>
            <a class="button is-primary w-50 text-decoration-none mt-4" href="/lessons">すぐにレッスンを受講</a>
            <small class="form-text text-muted mt-2 is-hidden-tablet">※レッスンはPC専用です。</small>
            <% unless user_signed_in? %>
              <%# <small class="form-text text-muted mt-2">※ログインしない場合は、受講情報が保存されません。</small> %>
            <% end %>
          </li>
        </ul>
        <%= image_tag asset_path("job_programmer.jpg"), :width => '250', :height => '250' %>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="column is-8 is-offset-2 my-5 has-text-centered">
    <h2 class="title mb-5 add-font-regular">問題一覧</h2>
  </div>
  <div class="columns my-5">
    <div class="column is-4">
      <div class="card has-text-centered">
        <div class="card-image">
          <figure class="image is-4by3">
            <%# <a href="lessons/network/exam"> %>
            <%= link_to(lesson_index_path_path(anchor: 'network')) do %>
              <%= image_tag asset_path("network.jpg") %>
            <% end %>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="add-font-bold">
              <%= link_to(lesson_index_path_path(anchor: 'network'), class:"has-text-grey-darker") do %>
              <%# <a class="has-text-grey-darker" href="lessons/network/exam">ネットワーク機器に関する問題</a> %>
                ネットワーク機器に関する問題
              <% end %>
            </h4>
            <p>
              ネットワークの設計図で出てくる機器のアイコンに関する問題です(Ciscoアイコン)。設計、監視・運用業務でネットワークの設計図を見ることは多いと思われます。未経験の方には参考になると思われますので、ぜひトライしてみましょう！
            </p>
            <p>
              <%= link_to(lesson_index_path_path(anchor: 'network'), class:"button is-info w-100 mt-2 text-decoration-none") do %>
              <%# <%= link_to "ネットワーク機器に関する問題",lesson_path(1), class:"button is-info w-100 mt-2 text-decoration-none" %>
                ネットワーク機器に関する問題
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card has-text-centered">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= link_to(lesson_index_path_path(anchor: 'json')) do %>
              <%= image_tag asset_path("json.jpg") %>
            </a>
          </figure>
          <% end %>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="add-font-bold">
              <%= link_to(lesson_index_path_path(anchor: 'json'), class:"has-text-grey-darker") do %>
                Zabbixで使われるJSON問題編
              <% end %>
            </h4>
            <p>
              Zabbixとは主に運用・監視業務で使われる、システムの監視を自動化するツールのこと。Zabbix API(ZabbixのWeb管理画面で行ったさまざまな操作を管理画面を使用せずに行える)によって、JSON形式でデータのやり取りができる。(恐らくネットワークエンジニアでもプログラムが書ける人しか使わないと思われる)
            </p>
            <%# <%= link_to "問題編", lessons_path, class:"button is-info w-100 mt-2 text-decoration-none " %>
            <%= link_to(lesson_index_path_path(anchor: 'json'), class:"button is-info w-100 mt-2 text-decoration-none") do %>
              問題編
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card has-text-centered">
        <div class="card-image">
          <figure class="image is-4by3">
            <%# <a href="lessons/json/exam"> %>
              <%= image_tag asset_path("no_image.jpg") %>
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="add-font-bold">募集中</h4>
            <p>
            お問い合わせフォームからお願いします
            </p>
            <button class="button is-info w-100 mt-2 text-decoration-none" disabled="disable">募集中
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <% if false %><div class="column is-8 is-offset-2 my-5 has-text-centered">
    <h2 class="title mb-5 add-font-regular">ゲーム感覚でVimを学ぶ</h2>
    <p class="subtitle add-font-bold">大将を目指して、ランクアップしましょう。</p>
      <%= image_tag asset_path("goal.jpg") ,class: "panel-image-third"%>
    <p class="subtitle add-font-bold mt-5">Vimmerへの道をかけ登りましょう！</p>
      <%= image_tag asset_path("suii.jpg") ,class: "panel-image-fourth"%>
    <% if user_signed_in? %>
    <% else %>
      <button class="btn btn-secondary" onclick="location.href='/users/sign_up'">ユーザー登録はこちら</button>
    <% end %>
  </div><% end %>
</section>


