<%# <%= render "shared/error", obj:@lessons %>

<div class = "whole"> 
  <div id="container">
     <h1>Q. What is A?</h1>
     <ul>
       <li class="answer">A0</li>
       <li class="answer">A1</li>
       <li class="answer">A2</li>
       <li class="answer">A3</li>
       <% if @lesson_id = 1 %>
        <%= render partial: "#{'lesson'@lesson_id}"%>
       <% end %>
     </ul>
     <div id="btn" class="disabled">Next Question</div>
   </div>
 </div>
 <div>
 
 <%# <%= form_with  method: :get, local: true do |f|%>
<%# <%= button_to '次の問題へ', new_lessons_path(f.id), method: :post, remote: true %>
<%# <% end %> 


<%# <% quizSet = [] %> 
<%# <%= 
  question = 'What is A?',
  answer = ['A0', 'A1', 'A2', 'A3'] 

 quizSet[] = [
  question = 'What is B?',
  answer = ['B0', 'B1', 'B2', 'B3']
] 

quizSet[] = [
  question => 'What is C?',
  answer => ['C0', 'C1', 'C2', 'C3']
]
current_num = 0 

 data = quizSet[$current_num]
shuffle(data[a])%> 

  <script>
  let questionArr = <%= @quetions %>
  let answers = []


  [[{ answer: 'this is a', correct: false }, { answer: 'this is b', correct: false } ,{ answer: 'this is c', correct: false }, { answer: 'this is a', correct: true }]] 
  function answer (choosed) {
    answers << choosed ? true : false
    // show result animation o or x by jquery
    answers.unshift()
    if (answers.length === 0) {
      // move to result
    }
  }
  </script>