<div class ="answer-whole">
  <div class="answer">
    <%= @correctness %>
  </div>
  <div class="answer-content">
    <%= @correct_answer&.content %>
  </div>
</div>
<h1 class="question" >
  <%= question.content %>
</h1>
<% choices.each.with_index(1) do |choice, index| %>
    <% if choice.image_path.present? %>
      <ul class="choice-image">
        <li><%= image_tag asset_path(choice.image_path), :width => '220', :height => '220' %></li>
      </ul>
    <% else %>
    <div class="choice" >
      <%= choice.content %>  
    </div>
    <% end %>
    <div class = "button">
      <%= button_to "選択肢#{index}", {controller: 'lessons', action: 'check'}, {remote: true, params: {choice_id: choice.id, question_id: choice.question_id, answered: answered }} %>
    </div>
<% end %>