<section>
  <div class="column is-8 is-offset-2 my-5 has-text-centered" id= "network">
    <h2 class="title mb-5 add-font-regular">まとめとレッスン</h2>
  </div>
  <% @lesson.each do |lesson| %>
  <div class="row">
    <div class="column is-8 is-offset-2 my-3">
      <div class="card">
        <div class="card-content">
          <div class="d-flex">
            <%= image_tag asset_path("#{lesson.image_name}") , class: "lesson-image align-self-center" %>
            <div class="content ml-3 mt-3 w-100">
              <p class="title is-4 has-text-weight-bold"><%= lesson.genre %></p>
              <p class="has-text-weight-normal"><%= lesson.introduce %></p>
              <div class="buttons d-flex justify-content-end">
                  <%= link_to("references/#{lesson.reference_url}", class: "button is-info is-outlined is-rounded text-decoration-none my-2" ) do %>
                  <span class="mr-1">
                    <svg class="svg-inline--fa fa-caret-right fa-w-6" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="">
                      <path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                    </svg><!-- <i class="fas fa-caret-right"></i> Font Awesome fontawesome.com -->
                    </span><%= lesson.reference %>
                <% end %>
                <%= link_to(lesson_path(lesson.id), class: "button is-primary is-outlined is-rounded text-decoration-none mx-2 my-2", turbolinks:false) do %>
                  <span class="mr-1" id= "json">
                    <svg class="svg-inline--fa fa-caret-square-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-square-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                      <path fill="currentColor" d="M48 32h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48zm140.485 355.515l123.029-123.029c4.686-4.686 4.686-12.284 0-16.971l-123.029-123.03c-7.56-7.56-20.485-2.206-20.485 8.485v246.059c0 10.691 12.926 16.045 20.485 8.486z"></path>
                    </svg><!-- <i class="fas fa-caret-square-right"></i> Font Awesome fontawesome.com -->
                  </span>レッスンはこちら
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if false %> <div class="row">
    <div class="column is-8 is-offset-2 my-3">
      <div class="card">
        <div class="card-content">
          <div class="d-flex">
            <%= image_tag asset_path("network.jpg") , class: "lesson-image align-self-center" %>
            <div class="content ml-3 mt-3 w-100">
              <p class="title is-4 has-text-weight-bold">ネットワーク機器に関する問題</p>
              <p class="has-text-weight-normal">Vim中級編はテキストオブジェクトや検索などのコマンドが出題されます。初級編と同様、コマンド一覧やコマンド表示モードが使用可能です。中級編までマスターすれば、Vimでの操作が楽しくなってくるはずです！</p>
              <div class="buttons d-flex justify-content-end">
                <%= link_to("機器一覧はこちら", "/lessons/#{@lesson}/reference", class: "button is-info is-outlined is-rounded text-decoration-none my-2") %>
                <%# # <a class="button is-info is-outlined is-rounded text-decoration-none my-2" href="/lessons/network/reference"> %>
                  <span class="mr-1">
                    <svg class="svg-inline--fa fa-caret-right fa-w-6" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="">
                      <path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                    </svg><!-- <i class="fas fa-caret-right"></i> Font Awesome fontawesome.com -->
                    <%# </span>機器一覧はこちら %>
                </a>
                <%= link_to("機器一覧はこちら", "/lessons/#{@lesson}", class: "button is-primary is-outlined is-rounded text-decoration-none mx-2 my-2", 'data-turbolinks':"false") %>
                <%# <a class="button is-primary is-outlined is-rounded text-decoration-none mx-2 my-2" data-turbolinks="false" href="/lessons/network/exam"> %>
                  <span class="mr-1">
                    <svg class="svg-inline--fa fa-caret-square-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-square-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                      <path fill="currentColor" d="M48 32h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48zm140.485 355.515l123.029-123.029c4.686-4.686 4.686-12.284 0-16.971l-123.029-123.03c-7.56-7.56-20.485-2.206-20.485 8.485v246.059c0 10.691 12.926 16.045 20.485 8.486z"></path>
                    </svg><!-- <i class="fas fa-caret-square-right"></i> Font Awesome fontawesome.com -->
                  </span>レッスンはこちら
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column is-8 is-offset-2 my-5 has-text-centered">
    <h2 class="title mb-5 add-font-regular">プログラミング系</h2>
  </div>
  <div class="row">
    <div class="column is-8 is-offset-2 my-3">
      <div class="card">
        <div class="card-content">
          <div class="d-flex">
            <%= image_tag asset_path("batchfile.jpg") , class: "lesson-image align-self-center"%>
            <div class="content ml-3 mt-3 w-100">
              <p class="title is-4 has-text-weight-bold">バッチファイル問題編</p>
              <p class="has-text-weight-normal">Vim初級編は移動やインサートなどVimの基本的なコマンドが出題されます。コマンド一覧やコマンド表示モードを使用して、まずはVimに慣れていきましょう！初級編をマスターすれば、Vimmerへの大きな一歩です！</p>
              <div class="buttons d-flex justify-content-end">
                <a class="button is-info is-outlined is-rounded text-decoration-none my-2" href="/lessons/batch/reference">
                  <span class="mr-1">
                  <svg class="svg-inline--fa fa-caret-right fa-w-6" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                  </svg><!-- <i class="fas fa-caret-right"></i> Font Awesome fontawesome.com -->
                  </span>バッチファイルに関するまとめ
                </a>
                <a class="button is-primary is-outlined is-rounded text-decoration-none mx-2 my-2" data-turbolinks="false" href="/lessons/batch/exam">
                  <span class="mr-1">
                    <svg class="svg-inline--fa fa-caret-square-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-square-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                      <path fill="currentColor" d="M48 32h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48zm140.485 355.515l123.029-123.029c4.686-4.686 4.686-12.284 0-16.971l-123.029-123.03c-7.56-7.56-20.485-2.206-20.485 8.485v246.059c0 10.691 12.926 16.045 20.485 8.486z"></path>
                    </svg><!-- <i class="fas fa-caret-square-right"></i> Font Awesome fontawesome.com -->
                  </span>レッスンはこちら
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><% end %>
</section>