
<div class="container my-4">
  <h1 class="title has-text-centered">お問い合わせフォーム</h1>
  <div class="rows">
    <div class="column is-8 is-offset-2">
      <%= form_for @inquiry, html: { 'accept-charset':"UTF-8" } do |f| %>
      <div class="field-inquiery">
        <div class="d-flex justify-content-start align-items-center">
          <div class="badge badge-danger mr-2 mb-2">必須</div>
          <%= f.label :genre, "カテゴリ", class:"label" %>
        </div>
        <div class="select is-info">
        <%= f.select :genre,{'バグや問題報告': 0, 'request': 1, 'others': 2}, {id:"inquiry_category"}%>
        </div>
      </div>
      <div class="field-inquiery">
        <div class="d-flex justify-content-start align-items-center">
          <div class="badge badge-primary mr-2 mb-2">任意</div>
          <%= f.label :name, "お名前", class:"label" %>
        </div>
        <div class="control">
          <%= f.text_field :name, id: "inquiry_name", class:"input"%>
        </div>
      </div>
      <div class="field-inquiery">
        <div class="d-flex justify-content-start align-items-center">
          <div class="badge badge-primary mr-2 mb-2">任意</div>
          <%= f.label :email, "メールアドレス", class:"label" %>
        </div>
        <div class="control">
          <%= f.text_field :email, class: "input"%>
        </div>
      </div>

      <div class="field-inquiery">
        <div class="d-flex justify-content-start align-items-center">
          <div class="badge badge-primary mr-2 mb-2">任意</div>
          <%= f.label :image, "画像", class:"label" %>
        </div>
        <div class="control">
          <%= f.attachment_field :image, id: "inquiry_email"%>
        </div>
      </div>

      <div class="field-inquiery">
        <div class="d-flex justify-content-start align-items-center">
          <div class="badge badge-danger mr-2 mb-2">必須</div>
          <%= f.label :inquiery, "お問い合わせ内容" ,class:"label"%>
          <%= render "shared/error", obj: @inquiry %>
        </div>
        <div class="control">
          <%= f.text_area :inquiery, id: "inquiry_body", rows:"10", class:"is-invalid textarea is-info" %>
        </div>
        <div class="field-inquiery">
          <div class="control has-text-centered">
            <%= f.submit "送信", class:"button is-primary has-text-weight-bold", 'data-disable-with':"送信" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>