<!DOCTYPE html>
<html>
  <head>
    <title>ネットワーク学習サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #fff;">
        <%=link_to(top_path, class: "navbar-brand mt-2") do %>
        <%# <a class="navbar-brand mt-2" href="/"> %>
          <%= image_tag asset_path("modem rooter.jpg"), :width => '40', :height => '23' %>
        <% end %>
        </a>
        <%# <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"> %>
        <button class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="button is-text has-text-weight-semibold" href="/lessons">レッスン一覧</a>
            </li>
            <li class="nav-item">
              <a class="button is-text has-text-weight-semibold" href="/help">ヘルプ</a>
            </li>
          </ul>
          <% if user_signed_in? %>
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <% if current_user.image != nil %>
                <%= image_tag attachment_url(current_user, :image, :fill, 35, 35),class: "rounded-circle mr15" %>
              <% else %>
                <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg",class: "rounded-circle mr15" %>
              <% end %>
              <span class = "has-text-weight-normal has-text-grey-dark mx-2"><%= current_user.name %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right show">
              <%=link_to(users_path, class: "dropdown-item") do %>
                <svg class="svg-inline--fa fa-user-circle fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
                </svg><!-- <i class="fas fa-user-circle mr-2"></i> Font Awesome fontawesome.com -->
                <span class="has-text-weight-medium">設定</span>
              <% end %>
              <%=link_to(users_sign_out_path, class:"dropdown-item", rel:"nofollow", method:"delete") do %>
                <svg class="svg-inline--fa fa-sign-out-alt fa-w-16 mr-2" style="color: gray;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path>
                </svg><!-- <i class="fas fa-sign-out-alt mr-2" style="color: gray;"></i> Font Awesome fontawesome.com -->
                <span class="has-text-weight-medium">ログアウト</span>
              <% end %>
            </div>
          <% else %>
          <ul class="navbar-nav ml-auto" id="navbar-nav-id">
            <li class="nav-item">
              <a class="button is-info has-text-weight-bold mr-3 text-decoration-none is-hidden-mobile" href="/users/sign_up">ユーザ登録</a>
              <a class="button is-info is-small has-text-weight-bold my-2 ml-2 text-decoration-none is-hidden-tablet" href="/users/sign_up">ユーザ登録</a>
            </li>
            <li class="nav-item">
              <a class="button is-light text-decoration-none is-hidden-mobile" href="/users/sign_in">ログイン</a>
              <a class="button is-light is-small ml-2 my-2 text-decoration-none is-hidden-tablet" href="/users/sign_in">ログイン</a>
            </li>
          </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <script>
      $(function() {
        $('.dropdown-toggle').click(function() {
        $('.dropdown-menu-right').toggle(1500);
        })
      });

      // alert('aaaaaaa');
      $(function() {
        $('.navbar-toggler').click(function() {
          console.log("$('.navbar-toggler')")
        // $('#navbar-nav-id').slideToggle(3);
        $('.navbar-nav').toggle();
        })
      });

      // $(function(){
      //   $('.navbar-nav').click(function(){
      //     $("ul:not(:animated)", this).slideDown();
      //   }, function(){
      //     $("ul.nav-item",this).slideUp();
      //   });
      // });
    </script>
    <%= render 'layouts/alert' %>
    <%= yield %>

    <section class="container is-fluid bg-light" id="footer">
      <div class="column is-6 is-offset-3">
        <p class="has-text-weight-medium has-text-centered">Copyright © VIMATE</p>
        <div class="has-text-centered is-flex-tablet justify-content-center ml-4">
        <%= link_to "利用規約" , terms_path, class:"dropdown-item" %>
        <%= link_to "プライバシーポリシー" , privacy_path, class:"dropdown-item"%>
        <%= link_to "お問い合わせ" , new_inquiry_path, class:"dropdown-item" %> 
        <%# <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="https://twitter.com/vimatejp"> %>
          <%# <svg class="svg-inline--fa fa-twitter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
          </svg><!-- <i class="fab fa-twitter"></i> Font Awesome fontawesome.com --> %>
        </a>
        </div>
      </div>
    </section>
  </body>
</html>
